html body {
	background-color: #e1f7e6;
}

h1 {
	color: #07571b;
	font-family: 'Copperplate';
	text-align: center;
}

h3 {
	color: #07571b;
	font-family: 'Copperplate';
	text-align: center;
}

.animals {
	margin-top: 2em;
}

.animals .grid-container {
  	display: grid;
  	grid-gap: auto;
  	grid-template-columns: auto auto auto;
  	margin-top: 1em;
  	padding: 40px;
}

.animals .grid-item {
  	text-align: center;
}

.sloth {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.tarantulahawk {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.tiger {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

#description1 {
	display: none;
}

#description2 {
	display: none;
} 

#description3 {
	display: none;
} 

.footer {
	text-align: center;
}

.footer a {
	text-decoration: none;
}